body {
    font-family: Arial, sans-serif;
    background-color: #3f74a8;
    text-align: center;
    margin-top: 100px;
}

.container {
    background: rgb(206, 171, 58);
    padding: 40px;
    width: 50%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

button {
    padding: 10px 20px;
    background-color: #0078d7;
    color: rgb(250, 245, 245);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005ea6;
}
